.form {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 300px;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px;
}

.formGroup {
  margin-bottom: 10px;
}

.label {
  display: block;
}

.btn {
  height: 25px;
}
